<!-- Color Picker -->
<div class="container">
	<div class="row mt-3">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h5 class="m-0">Color Picker</h5>
				</div>
				<div class="card-body">
					<div class="row">

						<!-- Color for age between range 1 to 30 -->
						<div class="col">
							<label>Color for age 1 to 30</label>
							<input class="form-control text-white" 
								[value]="colorX"
								[style.background]="colorX"
								[cpPosition]="'bottom'"
								[cpPositionOffset]="'50%'"
								[cpPositionRelativeToArrow]="true"
								[(colorPicker)]="colorX"
								(colorPickerChange)="chartService.sendColor('one',$event)"
							>
						</div>

						<!-- Color for age between range 31 to 60 -->
						<div class="col">
							<label>Color for age 31 to 60</label>
							<input class="form-control text-white" 
								[value]="colorY"
								[style.background]="colorY"
								[cpPosition]="'bottom'"
								[cpPositionOffset]="'50%'"
								[cpPositionRelativeToArrow]="true"
								[(colorPicker)]="colorY"
								(colorPickerChange)="chartService.sendColor('two',$event)"
							>
						</div>

						<!-- Color for age between range > 61 -->
						<div class="col">
							<label>Color for age > 61</label>
							<input class="form-control text-white" 
								[value]="colorZ"
								[style.background]="colorZ"
								[cpPosition]="'bottom'"
								[cpPositionOffset]="'50%'"
								[cpPositionRelativeToArrow]="true"
								[(colorPicker)]="colorZ"
								(colorPickerChange)="chartService.sendColor('three',$event)"
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>