<!-- Get Chart Data -->
<div class="container">
	<div class="inner-container m-3">
		
		<!-- Wrapper start -->
		<p>Please click on the "Get Chart Data" button below to load the chart.</p>
		<button class="btn btn-primary" (click)="getChartData()">Get Chart Data</button>
	</div>
</div>