<!-- D3 Pie / Donut Chart -->
<div class="container">
	<div class="row mt-3">
		<div class="col-12">
			<div class="card">
	
				<!-- Pie / Donut Chart -->
				<div class="card-header">
					<h5 class="m-0">{{isDonutChart ? 'Donut' : 'Pie'}} Chart</h5>
				</div>
				
				<!-- Chart Data -->
				<div class="card-body h-300 text-center row">
					<svg id="pieChart" class="col-12 col-lg-6">
					</svg>
					<div class="float-right col-12 col-lg-6 mt-3">
						<table class="table table-striped table-bordered" *ngIf="chartService.data">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Age</th>
									<th scope="col">Population (%) </th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let value of chartService.data">
									<td>{{value.age}}</td>
									<td>{{value.population}}%</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
