<div class="wrapper font-theme">

	<!-- Header -->
	<app-header></app-header>

	<!-- Home Component -->
	<app-home></app-home>

	<ng-container *ngIf="data">

		<!-- Selectize Component-->
		<app-selectize></app-selectize>

		<!-- Color Picker Component-->
		<app-picker></app-picker>

		<!-- Pie Chart Component-->
		<app-chart></app-chart>

	</ng-container>

</div>