<!-- NG Select -->
<div class="container">
	<div class="row mt-3">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h5 class="m-0">Selectize</h5>
				</div>

				<!-- Select Chart Type -->
				<div class="card-body">
					<label>Select Chart Type</label>
					<ng-select [items]="options" bindLabel="name" bindValue="value" placeholder="Select User" (change)="onSelectChange()" [(ngModel)]="chartType"></ng-select>
				</div>
			</div>
		</div>
	</div>
</div>
