.font-theme{font-family: 'Hind Vadodara', sans-serif;}
/*************************
 * Wrapper for whole page
 *************************/
.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}

/***************************************
 * Main Wrapper for actual content area
 ***************************************/
.main-wrapper {
	min-height: 100%;
	padding:0 15px 70px 15px;
	transition :all 0.3s ease-in-out 0s;
	animation-duration: 1s;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: pulse;
}
/***************************************
 * button cursor to pointer
 ***************************************/
.btn{cursor: pointer;}
.h-300{min-height:300px;}
.picker{width: 30px;height: 30px;border-radius: 50px;background: aliceblue;}